# hidev internals
.hidev/composer.json
.hidev/composer.lock
.hidev/vendor

# IDE & OS files
.*.swp
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
.DS_Store

# intermediate files
_all.sql
_redo.sql
not
err
translit/translit.o
translit/translit.so
